{% extends 'base.html' %}
{% block content %}
<h2>AVAILABLE JOBS:</h2>

<table>
    
    <tr>
        <th>S.No</th>
        <th>Company Name</th>
        <th>Role</th>
        <th>Salary</th>
        <th>Actions</th>
        
    </tr>
    <tr>
        <td>1</td>
        <td>TCS</td>
        <td>Software Developer</td>
        <td>25K-35K</td>
        <td><button><a href="https://click.appcast.io/t/7rxbMOyyqjrLdwA7qpEl0OZBn6J7vozHED3OM0f6fl27zrfa_3QU2p2u8K50W216w_oGycyIlGMiQD9mjcogIg==&ccadv=15820&ccref=15820_4429246626&rdr=https%3A%2F%2Fin.jobrapido.com%2F%3Fw%3DFabric%20Sourcing%20Manager%20Chennai%20Tamil%20Nadu%20India&ccadv=15820&ccref=15820_4429246626?jr_cid=cb5e4eeb-ee5c-42a2-914e-0f16af4c2a81">click here</a></button></td>
        
    </tr>
     <tr>
        <td>2</td>
        <td>Zoho</td>
        <td>Software Engineer</td>
        <td>20K-30K</td>
        <td><button><a href="https://click.appcast.io/t/7rxbMOyyqjrLdwA7qpEl0OZBn6J7vozHED3OM0f6fl27zrfa_3QU2p2u8K50W216w_oGycyIlGMiQD9mjcogIg==&ccadv=15820&ccref=15820_4429246626&rdr=https%3A%2F%2Fin.jobrapido.com%2F%3Fw%3DFabric%20Sourcing%20Manager%20Chennai%20Tamil%20Nadu%20India&ccadv=15820&ccref=15820_4429246626?jr_cid=cb5e4eeb-ee5c-42a2-914e-0f16af4c2a81">Click here</a></button></td>
        
    </tr>
     <tr>
        <td>3</td>
        <td>Campgemini</td>
        <td>Front-end Developer</td>
        <td>15K-20K</td>
        <td><button><a href="https://click.appcast.io/t/7rxbMOyyqjrLdwA7qpEl0OZBn6J7vozHED3OM0f6fl27zrfa_3QU2p2u8K50W216w_oGycyIlGMiQD9mjcogIg==&ccadv=15820&ccref=15820_4429246626&rdr=https%3A%2F%2Fin.jobrapido.com%2F%3Fw%3DFabric%20Sourcing%20Manager%20Chennai%20Tamil%20Nadu%20India&ccadv=15820&ccref=15820_4429246626?jr_cid=cb5e4eeb-ee5c-42a2-914e-0f16af4c2a81">Click here</a></button></td>
        
    </tr>
     <tr>
        <td>4</td>
        <td>Tidel park</td>
        <td>Back-end Developer</td>
        <td>20K-35K</td>
        <td><button><a href="https://click.appcast.io/t/7rxbMOyyqjrLdwA7qpEl0OZBn6J7vozHED3OM0f6fl27zrfa_3QU2p2u8K50W216w_oGycyIlGMiQD9mjcogIg==&ccadv=15820&ccref=15820_4429246626&rdr=https%3A%2F%2Fin.jobrapido.com%2F%3Fw%3DFabric%20Sourcing%20Manager%20Chennai%20Tamil%20Nadu%20India&ccadv=15820&ccref=15820_4429246626?jr_cid=cb5e4eeb-ee5c-42a2-914e-0f16af4c2a81">Click here</a></button></td>
        
    </tr>
     <tr>
        <td>5</td>
        <td>Wipro</td>
        <td>fullstack developer</td>
        <td>30K-45K</td>
        <td><button><a href="https://click.appcast.io/t/7rxbMOyyqjrLdwA7qpEl0OZBn6J7vozHED3OM0f6fl27zrfa_3QU2p2u8K50W216w_oGycyIlGMiQD9mjcogIg==&ccadv=15820&ccref=15820_4429246626&rdr=https%3A%2F%2Fin.jobrapido.com%2F%3Fw%3DFabric%20Sourcing%20Manager%20Chennai%20Tamil%20Nadu%20India&ccadv=15820&ccref=15820_4429246626?jr_cid=cb5e4eeb-ee5c-42a2-914e-0f16af4c2a81">Click here</a></button></td>
        
    </tr>
     <tr>
        <td>6</td>
        <td>Oracle</td>
        <td>Software Developer</td>
        <td>25K-35K</td>
        <td><button><a href="https://click.appcast.io/t/7rxbMOyyqjrLdwA7qpEl0OZBn6J7vozHED3OM0f6fl27zrfa_3QU2p2u8K50W216w_oGycyIlGMiQD9mjcogIg==&ccadv=15820&ccref=15820_4429246626&rdr=https%3A%2F%2Fin.jobrapido.com%2F%3Fw%3DFabric%20Sourcing%20Manager%20Chennai%20Tamil%20Nadu%20India&ccadv=15820&ccref=15820_4429246626?jr_cid=cb5e4eeb-ee5c-42a2-914e-0f16af4c2a81">Click here</a></button></td>
        
    </tr>
     <tr>
        <td>7</td>
        <td>Microsoft</td>
        <td>Production Manager</td>
        <td>15K-18K</td>
        <td><button><a href="https://click.appcast.io/t/7rxbMOyyqjrLdwA7qpEl0OZBn6J7vozHED3OM0f6fl27zrfa_3QU2p2u8K50W216w_oGycyIlGMiQD9mjcogIg==&ccadv=15820&ccref=15820_4429246626&rdr=https%3A%2F%2Fin.jobrapido.com%2F%3Fw%3DFabric%20Sourcing%20Manager%20Chennai%20Tamil%20Nadu%20India&ccadv=15820&ccref=15820_4429246626?jr_cid=cb5e4eeb-ee5c-42a2-914e-0f16af4c2a81">Click here</a></button></td>
        
    </tr>
     <tr>
        <td>8</td>
        <td>Zomato</td>
        <td>Front-end Developer</td>
        <td>25K-35K</td>
        <td><button><a href="https://click.appcast.io/t/7rxbMOyyqjrLdwA7qpEl0OZBn6J7vozHED3OM0f6fl27zrfa_3QU2p2u8K50W216w_oGycyIlGMiQD9mjcogIg==&ccadv=15820&ccref=15820_4429246626&rdr=https%3A%2F%2Fin.jobrapido.com%2F%3Fw%3DFabric%20Sourcing%20Manager%20Chennai%20Tamil%20Nadu%20India&ccadv=15820&ccref=15820_4429246626?jr_cid=cb5e4eeb-ee5c-42a2-914e-0f16af4c2a81">Click here</a></button></td>
        
    </tr>
     <tr>
        <td>9</td>
        <td>Swiggy</td>
        <td>Software Developer</td>
        <td>25K-35K</td>
        <td><button><a href="https://click.appcast.io/t/7rxbMOyyqjrLdwA7qpEl0OZBn6J7vozHED3OM0f6fl27zrfa_3QU2p2u8K50W216w_oGycyIlGMiQD9mjcogIg==&ccadv=15820&ccref=15820_4429246626&rdr=https%3A%2F%2Fin.jobrapido.com%2F%3Fw%3DFabric%20Sourcing%20Manager%20Chennai%20Tamil%20Nadu%20India&ccadv=15820&ccref=15820_4429246626?jr_cid=cb5e4eeb-ee5c-42a2-914e-0f16af4c2a81">Click here</a></button></td>
        
    </tr>
     <tr>
        <td>10</td>
        <td>TCS</td>
        <td>Software Developer</td>
        <td>25K-35K</td>
        <td><button><a href="https://click.appcast.io/t/7rxbMOyyqjrLdwA7qpEl0OZBn6J7vozHED3OM0f6fl27zrfa_3QU2p2u8K50W216w_oGycyIlGMiQD9mjcogIg==&ccadv=15820&ccref=15820_4429246626&rdr=https%3A%2F%2Fin.jobrapido.com%2F%3Fw%3DFabric%20Sourcing%20Manager%20Chennai%20Tamil%20Nadu%20India&ccadv=15820&ccref=15820_4429246626?jr_cid=cb5e4eeb-ee5c-42a2-914e-0f16af4c2a81">Click here</a></button></td>
        
    </tr>

</table>

<a href="{% url 'list' %}">Apply</a>
{% endblock %}